@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

/* mostly signs, cards */
blockquote > p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

blockquote:nth-of-type(7) > p > span:first-of-type{
	float: left;
	text-align: initial;
}

blockquote:nth-of-type(7) > p > span:last-of-type{
	float: right;
	text-align: initial;
}

blockquote:nth-of-type(7) + p{
	clear: both;
}

/* treatise on the Steppenwolf */
blockquote:nth-of-type(4) > p{
	font-variant: normal;
	text-align: initial;
}

/* poetry and verses */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	font-variant: normal;
	text-align: initial;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}
